# Pandas

In [2]:
import pandas as pd

# Create

1.1 Create from a csv

In [3]:
df=pd.read_csv("Titanic.csv")

1.2 Create from a Dictionary

In [6]:
tempdict={'col1':[1,2,3], "col2":[4,5,6],"col3":[7,8,9]}
dictdf=pd.DataFrame.from_dict(tempdict)

# Read

In [ ]:
df.head(5)
df.tail(5)
dictdf.head(5)
dictdf.tail(5)

In [20]:
df.columns

Index(['last', 'first', 'gender', 'age', 'class', 'fare', 'embarked',
       'survived'],
      dtype='object')

In [ ]:
df.dtypes

In [ ]:
df.describe()  #it works only on int and floats

In [ ]:
df.describe(include='object')

In [ ]:
df[["last","first","age"]]

In [ ]:
df.age.unique()

In [ ]:
df[df["age"]==10]

In [ ]:
df[(df["age"]==10) & df["last"]=="cumings"]

# Indexing with iloc

In [25]:
df.iloc[14]

last                           Vestrom
first       Miss Hulda Amanda Adolfina
gender                               F
age                               14.0
class                                3
fare                            7.8542
embarked                   Southampton
survived                            no
Name: 14, dtype: object

In [ ]:
df.iloc[14,0]

In [ ]:
df.iloc[14,-1]

In [ ]:
df.iloc[13:22]

# Indexing with loc

In [ ]:
age=df.copy()
age.set_index("age",inplace=True)
age.head()

In [ ]:
age.loc[10]

# Update

In [ ]:
#Check null values
df.isnull().sum()

In [32]:
#Drop Rows
df.dropna(inplace=True)

In [ ]:
#Drpping Coloumn
df.drop("last",axis=1)

In [53]:
#Create new coloumn
df["New coloumn"]=df["age"]+df["fare"]

In [54]:
#Update a coloumn value
df["New coloumn"]=100

In [ ]:
#Update a single value
df.iloc[0,-1]=20
df.head()

In [65]:
# Condition based updating using Apply
df["col"]=df["age"].apply(lambda x: 1 if x <10 else 0 )
df.head()
df[df["age"]>10].head()

  last first gender   age  class  fare embarked survived  New coloumn  col
0   20    20     20  20.0     20  20.0       20       20           20    0
1   20    20     20  20.0     20  20.0       20       20          100    0
2   20    20     20  20.0     20  20.0       20       20          100    0
3   20    20     20  20.0     20  20.0       20       20          100    0
4   20    20     20  20.0     20  20.0       20       20          100    0

# Delete/Output

In [ ]:
# Output to CSV
df.to_csv("output.csv")

In [ ]:
# output to json
df.to_json()

In [ ]:
# output to html
df.to_html()

In [ ]:
# Delete a df
del df